.gameCon {
	display: flex;

	height: 100vh;
	justify-content: center;
	align-items: center;
}
.con {
	border: 1px solid black;
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.childCon {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	margin: 2rem;
}
.activeBox {
	background: green;
}
